<h1 align="center">Welcome to <%= @user.username %>'s page </h1>
<div class="row">
	<div class="col-md-12 col-md-offset-12 center">
		<%= gravatar_for @user, size: 150%>
	</div>
</div>
<h4 align="center"><%= @user.username %>'s articles</h4>
<% if logged_in? and current_user.username? %>
<div class="center">
	<%= link_to "Delete this user", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete the user and all their articles" }, class: "btn btn-xs btn-sm btn-danger" %>
</div>
<% end %>

<div class="center">
	<%= will_paginate @user_articles, class: "pagination"  %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div class="center">
	<%= will_paginate @user_articles, class: "pagination" %>
</div>